@import "reset";
@import "responsive";
$size: 520px;
body{
	width: 100%;
	max-height: 1000vh;
	padding-bottom: 20px;
	background-color: #bed0ff;
	font-family: Ariel, Helvetica, sans-serif;
}
#title{
	text-align: center;
	font-size: 2em;
	margin: 35px 0;
}
#survey-form{
	width: 98%;
	margin: 0 auto;
}
.wrapper{
	width: 85%;
	height: 95%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 7px;
	#description{
		padding: 25px 0;
		text-align: center;
		letter-spacing: 1px;
	}
}
.wrap-data{
	margin: 0 auto;
	width: 80%;
	height: 10%;
	display: grid;
	grid-template-columns: 50% 50%;
	@include media-query ($size) {
		width: 90%;
		grid-template-columns: 25% 75%; 

	}
	.container-span{
		width: 100%;
		margin-top: 35px;
		text-align: right;
	}
	.container-input{
		margin-top: 20px;
		text-align: center;
		.all-input{
			width: 90%;
			height: 27px;
		}
	}
}
/*current role wrapper----------------------------------------*/
.current-role-wrapper{
	width: 80%;
	padding-top: 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
	@include media-query ($size) {
		display: inline;

	}
	.current-role-span{
		text-align: right;
		@include media-query ($size) {
			text-align: center;
			padding-top: 35px;
		}
		span{
			margin-top: 100px;
		}
	}
	.current-role-opt{
		text-align: left;
		margin-left: 15px;
		@include media-query ($size) {
			width: 90%;
			padding-left: 18px;
			padding-top: 15px;
			text-align: center;
		}
		#dropdown{
			width: 150px;
			height: 40px;
		}
	}
}
/*recommend---------------------------------------------*/
.recommend-wrapper{
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	@include media-query ($size) {
		display: inline;
	}
	.container-recommend-span{
		text-align: right;
		@include media-query ($size) {
			text-align: center;
			margin-top: 35px;
		}
	}
	.container-recommend-opt{
		padding-left: 10px;
		@include media-query ($size) {
			width: 80%;
			text-align: center;
			.recommend-maybe{
				padding-right: 7%;
			}
			.recommend-not-sure{
				padding-right: 2%;
			}
		}
		ul{
			list-style: none;
			@include media-query ($size) {
				margin-top: 15px;
			}
			.recommend-opt{
				padding-top: 10px;
			}
		}
	}
}
/*FCC-------------------------------------------------*/
.fcc-wrapper{
	width: 80%;
	padding-top: 45px;
	padding-bottom: 30px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
	@include media-query ($size) {
		display: inline;
	}
	.fcc-span{
		text-align: right;
		@include media-query ($size) {
			text-align: center;
			margin-top: 35px;
			margin-bottom: 15px;
		}
		span{
			margin-top: 100px;
		}
	}
	.fcc-opt{
		text-align: left;
		margin-left: 15px;
		@include media-query ($size) {
			text-align: center;
			width: 90%;
			padding-left: 18px;
		}
		select{
			width: 150px;
			height: 40px;
		}
	}
}
/*should-improve-----------------------------------------*/
.should-improve-wrapper{
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	@include media-query ($size) {
		display: inline;
	}
	.should-improve-span{
		text-align: right;
		@include media-query ($size) {
			text-align: center;
			padding-top: 35px;
			padding-bottom: 20px;
		}
	}
	.should-improve-opt{
		padding-left: 10px;
		@include media-query ($size) {
			width: 70%;
			margin-left: 25%;
		}
		ul{
			list-style: none;
			.should-improve{
				padding-top: 10px;
			}
		}
	}
}
/*comments-------------------------------*/
.container-comments{
	width: 80%;
	margin: 0 auto;
	padding-top: 35px;
	display: grid;
	grid-template-columns: 50% 50%;
	@include media-query ($size) {
		display: inline;
		.comments-textarea{

		}
	}
	.comments-span{
		text-align: right;
		@include media-query ($size) {
			text-align: center;
			padding-top: 35px;
			padding-bottom: 20px;
		}
	}
	.text-inside{
		margin-left: 5%;
		width: 80%;
		height: 50px;
		@include media-query(600px) {
			margin-left: 10%;
		}
	}
}
/*bottom------------------------------------------*/
#submit{
	width: 80%;
	padding-top: 35px;
	padding-bottom: 100px; 
	margin: 0 auto;
	text-align: center;
	button{
		width: 110px;
		height: 40px;
		background-color: #ff3f31;
		border: none;
		outline: none;
		border-radius: 10px;
		font-size: 1.3em;
		color: #fff;
		cursor: pointer;
	}
	button:hover{
		opacity: .6;
		border: none;
	}
}